@using Courses_HW_7_8.DB.Models;
@model FeildModel
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Courses_HW_7_8.styles.css" asp-append-version="true" />
<form method="post" asp-controller="CostFeild" asp-action="AddFeild" class="cost-form">
    <div class="form-group">

        <input id="date" name="date" required="required" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label for="category">Category name:</label>
        <select id="category" name="category" class="form-control">
            @foreach (var item in Model.CostCategories)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="cost">Cost:</label>
        <input id="cost" name="cost" required="required" type="number" step="0.01" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input id="description" name="description" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add!</button>
</form>

@{
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Cost</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.CostFields.Count; i++)
            {
                <tr>
                    <form method="post" asp-controller="CostFeild" asp-action="EditFeild">
                    <th scope="col"> <input type="hidden" name="id" value="@Model.CostFields[i].Id" /> @i</th>
                    <th scope="col"> <p>@Model.CostFields[i].Date</p> <input required="required" type="date" name="date" value="" /></th>
                    <th scope="col"> <p>@Model.CostFields[i].Cost</p> <input required="required" type="number" step="0.01" name="cost" value="" /></th>
                    <th scope="col"> 
                        <select id="category" name="category" class="form-control" style="width: 300px;">>
                            <option value="@Model.CostFields[i].Category.Name" selected>@Model.CostFields[i].Category.Name</option>
                                @foreach (var item in Model.CostCategories)
                                {
                                    if (item.Name != @Model.CostFields[i].Category.Name)
                                    {
                                    <option value="@item.Name">@item.Name</option>
                                    }
                                }
                        </select>
                    </th>
                    <th scope="col"><p>@Model.CostFields[i].Description</p><input name="description" value="" /></th>
                    <th scope="col"><button type="submit">Edit</button></th>
                    </form>
                    <form form method="post" asp-controller="CostFeild" asp-action="DeleteFeild">
                    <input type="hidden" value="@Model.CostFields[i].Id" name="id"/>
                    <th scope="col"><button type="submit">Delete</button></th>
                    </form>
                </tr>
            }
        </tbody>
    </table>
}



